*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
};

html, body {
    height: 100%;
}

.hidden-want-to-help{
    display: none;
}

.show-want-to-help{
    display: none;
}

.hidden-want-to-help-buttons{
    display: none;
}

.hidden-suggest-more-btn{
    display: none;
}

.mobile-footer{
    display: none;
}

.hidden-search{
    display: none;
}


.unhide{
    display: block;
}

                                                                  /* Site Container Tings */

.site-container{
    width: 100%;
    height: 900px;
    position: relative;
}
                                                                        /* Info Tings */

                                                

.info-container{
    display: block;
    background-color: #B7CDC9;
    border-radius: 10px;
    border-style: solid;
    border-color: #93B4AE;
    border-width: 1px;
    padding: 15px;
}


                                                                  /* Minimize Btn Tings */

.min-btn-img{
    width: 1.5em
}

.max-btn-img{
    width: 2em
}


.min-btn, .max-btn{
    display: block;
    margin: 0 0 0 auto;
    padding: 0;
    background-color: #B7CDC9;
    border: solid 1px;
    border-color: #93B4AE;
    border-radius: 5px;
    transition: ease-in .3s;
}

.min-btn{
    width: 32px;
    height: 32px;
}

.max-btn{
    width: 40px;
    height: 40px;
}

.min-btn:hover, .max-btn:hover{
    background-color: #ABC4C0;
}


                                                                                /* Intro Tings */

.intro{
    max-width: 100%;
    margin: 0;
}

.intro h1{
    padding-top: 15px;
}

.intro-p{
    padding-top: 5px;
    display: grid;
    grid-template-columns: 10% 90%;
    margin: auto 0;
}

.intro p{
    margin: auto 0;
}


.intro-p img{
    width: 1.3em;
}

                                                                        /* Search Tings */


.search{
    margin: 15px 0 0 0;
    height: 2em;
    display: grid;
    max-width: 100%;
    grid-template-columns: 85% 15%;
}

.search input, .search button{
    height: 100%;
    border-style: none;
}

.search input{
    border-color: #93B4AE;
    background-color: #f5f8f7;
    border-radius: 5px 0 0 5px;
    border-width: 1px;
    padding: 0 10px 0 20px;
} 

.search input:focus{
    outline-color: #93B4AE;
} 

.search button{
    transition: ease-in .3s;
    background-color: #B7CDC9;
    border: solid 1px;
    border-color: #93B4AE;
    border-radius: 0 5px 5px 0;
}

.search button:hover{
    background-color: #ABC4C0;
}

.search button img{
    width: 1.5em;
    margin: auto;
}

                                                                /* Search Overlay Tings */

.search-drop-down-overlay{
    position: absolute;
    opacity: 1;
    z-index: 11;
    width: 85%;
    max-height: 240px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #212529;
    text-align: center;
}
 
.card, .mobile-card{
    padding: 0 20px;
    background-color: #f5f8f7;
    width: 100%;
    padding-top: 10px;
    border-style: solid;
    border-color: #ebebeb;
    border-width: 0 0 1px 0;
    font-size: small;
    transition: ease-in .2s;
}

.card:hover{
    background-color: #f0f0f0;
}

.card:first-of-type, .mobile-card:first-of-type{
    border-width: 1px 0 1px 0;
}

.card-p p:first-of-type {
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
}

.card-p p:last-of-type {
    padding-bottom: 10px;
}

.grocery-card p:first-of-type{
    background-color: #ffd8ac;
}
.veg-card p:first-of-type{
    background-color: #bbffc4;
}
.meats-card p:first-of-type{
    background-color: #ffacac;
}
.fish-card p:first-of-type{
    background-color: #ffacac;
}
.markets-card p:first-of-type{
    background-color: #fff9ac;
}

                                                                /* Search Scrollbar Tings */

  /* width */
::-webkit-scrollbar {
    width: 13px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ececec;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-style: solid; 
    border-color: #ececec;
    border-width: 3px 0 3px 0;
    height: 30px;
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #777777;
  }

/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: #ececec;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #555555 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #777777 transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 7px 7px 0 7px;
  border-color: #555555 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #777777 transparent transparent transparent;
}


                                                                           /* Legend Tings */

.legend {
    margin-top: 15px;
}

.legend ul{
    padding: 5px 0;
    list-style: none;
    background-color: #ABC4C0;
    border-radius: 5px;
}

.legend img{
    margin: auto;
    max-height: 2.5em;
}

.legend li{
    margin: 5px 0;
    max-height: 3em;
    display: grid;
    grid-template-columns: 10% 90%;
}

.legend h4{
    margin: auto 0;
}

.legend label{
    display: grid;
    grid-template-columns: 20% 80%;
}

.legend img{
    filter: drop-shadow(3px 0 3px rgb(107, 107, 107));
}

.checkbox{
    width: 1em;
    height: 1em;
    margin: auto 0 auto auto;
}

                                                                        /* Fieldset Tings */

fieldset{
    height:227px;
}

.fieldset-input{
    border-radius: 5px;
    margin-top: 5px;
    height: 2em;
    border-style: solid;
    border-color: #93B4AE;
    border-width: 1px;
    width: 100%;
    background-color: #f5f8f7;
    padding-left: 20px;
}

.fieldset-input:focus{
    outline-color: #93B4AE;
} 

.fieldset-input-title{
    margin-top: 15px;
    display: block;
    color: #212529;
}


.fieldset-submit-suggestion, .fieldset-submit-more-suggestion{
    padding: 5px;
    height: 2.5em;
    margin: 15px 0;
    outline: #93B4AE;
    background-color: #B7CDC9;
    border: solid 1px;
    border-color: #93B4AE;
    border-radius: 5px;
    transition: ease-in .3s;
}

.fieldset-submit-suggestion:hover, .fieldset-submit-more-suggestion:hover{
        background-color: #ABC4C0;
}

.fieldset-submit-suggestion{
    margin-left: 5px;
}


.help-fieldset p{
    color: #212529;
    text-align: center;
}

.help-fieldset p:first-child{
    padding-top: 52px;
    color: #212529;
}

.suggest-more-btn{
    text-align: center;
    width: 100%;
}


                                                                          /* Fieldset Tings */

.want-to-help{
    padding-top: 15px;
}

.want-to-help fieldset{
    color: #93B4AE;
    border-radius: 5px;
    border: solid 1px;
}

.want-to-help legend{
    color: #212529;
    padding: 0 5px;
    text-align: center;
}

                                                 /* Donate Tings */
.donate{
    padding-top: 15px;
    display: grid;
    grid-template-columns: 70% 30%;
}

.donate button img{
    width: 1.5em;
}

.donate p{
    padding-left: 25px;
    margin: auto 0;
}


.donate button{
    transition: ease-in .3s;
    background-color: #B7CDC9;
    border-radius: 5px;
    border: solid 1px #93B4AE;
    width: 32px;
    height: 32px;
    margin: 0 auto 0 5px;
}

.donate button:hover{
    background-color: #ABC4C0;
}


                                                 /* Map Tings */

#map{
    height: 100%;
    width: 100%;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: #93B4AE;
    border-radius: 10px;
}

.map-box{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
}


.map-box-overlay{
    opacity: 1;
    z-index: 10;
    width: 20%;
    filter: drop-shadow(3px 0 4px rgb(136, 136, 136));
}

.map-box-overlay{
    opacity: 1;
    z-index: 10;
    width: 20%;
    filter: drop-shadow(3px 0 4px rgb(136, 136, 136));
}

.map-box-min-overlay{
    opacity: 1;
    z-index: 9;
    filter: drop-shadow(3px 0 4px rgb(136, 136, 136));
    display: block;
    background-color: #B7CDC9;
    border-radius: 10px;
    border-style: solid;
    border-color: #93B4AE;
    border-width: 1px;
    padding: 15px;
    width: 75px;
    height: 75px;
}


.leaflet-popup-content-wrapper{
    max-width: 230px;
}

.style-icon{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #212529;
}

.style-icon p:first-child{
    font-size: 1.1em;
    margin-bottom: 5px;
}

.style-icon p:nth-child(2){
    padding-bottom: 5px;
    border-style: none none solid none;
    border-color: #93B4AE;
    border-width: 3px;
    margin: 0;
}



.veg-hours, .grocery-hours, .meats-hours, .fish-hours, .markets-hours{
    height:135px;
    max-width: 150px;
    padding: 12px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto 15px auto;
}

.veg-hours{
    background-color: #bbffc4;
}

.grocery-hours{
    background-color: #ffd8ac
}

.meats-hours{
    background-color: #ffacac
}

.markets-hours{
    background-color: #fff9ac
}

.phone-grid{
    display: grid;
    grid-template-columns: 10% 90%;
}

.phone-grid img{
    width: 17px;
}

.phone-grid div{
    padding-left: 5px;
}


                                                 /* Body Tings */

body{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: #789284;
    color: #212529;
    margin: 15px;
}

body h1{
    font-weight: 700;
}

/* background-color: #a4c3b2; */
/* background-color: #37423D; */
/* background-color: #062726; */
/* background-color: #2F4858; */
/* background-color: #839788; */
/* background-color: #555B6E; */
/* background-color: #789284; */

.hide{
    display: none;
}







@media only screen and (max-width: 420px){

.site-container{
     height: 90vh;
     margin-bottom: .5em;;
}

.fieldset-submit-more-suggestion{
    display: none;
}

.fieldset-submit-suggestion{
    display: none;
}

body{
    margin: 5px;
    height: 100%;
}

.intro-legend h1{
    font-weight: 600;
    height: .9em;
}

/* Map Tings  */


.map-box-overlay{
    width: 100%;
    height: 50%;
    top: auto;
    bottom: 0;
    filter: drop-shadow(0 0 4px rgb(105, 105, 105));
    left: 0;
    right: 0;
}

.map-box-min-overlay{
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

.hidden-search{
    filter: drop-shadow(0 0 4px rgb(75, 75, 75));
    display: block;
    margin: 15px;
    width: 80%;
    height:  80%;
}

/* Hidden Search Tings */

.hidden-search{
    z-index: 9;
    display: grid;
    grid-template-columns: 85% 15%;
}

.hidden-search input, .hidden-search button{
    height: 100%;
}

.hidden-search input{
    background-color: #f5f8f7;
    border-radius: 5px 0 0 5px;
    border: none;
    padding:  0 10px 0 20px;
} 

.hidden-search input:focus{
    outline-color: #93B4AE;
} 

.hidden-search button{
    padding: 0;
    border-width: 0 0 0 1px ;
    border-style: solid ;
    border-color: #93B4AE;
    background-color: #B7CDC9;
    border-radius: 0 5px 5px 0;
}

.hidden-search button:focus{
    outline-color: #93B4AE;
}

.hidden-search img{
    width: 1.8em;
    height: 1.8em;
    padding-top: 2px;
}

.hidden-search-grid{
    display: grid;
    grid-template-rows: 13% 87%;
    height: 60%;
}

.hidden-search-wrapper{
    opacity: 1;

}

.hidden-search-drop-down-overlay{
    filter: drop-shadow(0 4px 4px rgb(139, 139, 139));
    margin: 4px 0 0 15px;
    position: relative;
    z-index: 11;
    width: 79%;
    max-height: 410px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #212529;
    text-align: center;
    border-radius: 0 0 5px 5px;
}

.mobile-card{
    padding: 1em;
}

.mobile-card p{
    margin: auto;
    max-width: 90%;
}

.mobile-card p:first-of-type{
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
}

/* Hidden Search Scroll bar Tings */

  /* width */
::-webkit-scrollbar {
    display: none;
}


/* Min Max Btn Tings */

.min-btn{
    width: 3em;
    height: 3em;
    margin: 0 auto 0 0;
}

.min-btn img{
    width: 2.5em;
    height: 2.5em;
    padding-top: 2px;
}

.max-btn{
    width: 3.5em;
    height: 3.5em;
    
}

.max-btn img{
    width: 3em;
    height: 3em;
    padding-top: 2px;
}

.minimised-info-container{
    filter: drop-shadow(0 0 4px rgb(105, 105, 105));
}


/* Intro Tings */

.intro{
    display: grid;
    grid-template-columns: 25% 75%;
}

.intro h1{
    padding-top: 0;
}

.search{
    display: none;
}

/* Legend Tings */

.legend{
    margin-top: 1em;
}

/* .legend img{
    height: 30px;
} */

.legend label{
    display: grid;
    grid-template-columns: 40% 60%;
}


.legend-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 150px;
}

.legend-grid-container li{
    padding-left: 25px;
    height: 40px;
    
}

.legend-grid-1{
    border-style: solid;
    border-color: #93B4AE;
    border-width: 0 1px 0 1px;
}

.legend-grid-2{
    border-style: solid;
    border-color: #93B4AE;
    border-width: 0 1px 0 0;
}

/* Hidden Button Tings */

.want-to-help{
    display: none;
    margin-bottom: 15px;
}

.show-want-to-help{
    display: block;
}

.show-want-to-help button{
    padding: 5px;
    width: 250px;
    height: 2.5em;
    margin: 10px auto;
    outline: #93B4AE;
    background-color: #B7CDC9;
    border: solid 1px;
    border-color: #93B4AE;
    border-radius: 5px;
    transition: ease-in .3s;
}

.show-want-to-help button:hover{
    background-color: #ABC4C0;
}

.show-want-to-help p{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #212529;
}

.align-btn{
    text-align: center;
}

.nevermind-btn, .hidden-fieldset-submit-suggestion{
padding: 5px;
height: 2.5em;
margin: 15px 0;
outline: #93B4AE;
background-color: #B7CDC9;
border: solid 1px;
border-color: #93B4AE;
border-radius: 5px;
transition: ease-in .3s;
}

/* Hidden Legend Tings */

.fieldset-inputs{
    margin: 0 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.help-fieldset{
    height: 170px;
    padding: 0;
    margin:0
}

.hidden-want-to-help{
    display: none;
    margin-top: 15px;
    
}

.hidden-fieldset-input-title{
    margin-top: 15px;
    display: block;
    color: #212529;
}

.hidden-want-to-help{
    padding-top: 15px;
}

.hidden-want-to-help fieldset{
    color: #93B4AE;
    border-radius: 5px;
    border: solid 1px;
}

.hidden-want-to-help legend{
    color: #212529;
    padding: 0 5px;
    text-align: center;
}

.hidden-want-to-help-buttons{
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.hidden-want-to-help-buttons button, .hidden-want-to-help-buttons input{
    height: 30px;
    width: 85%;
    margin: 2.6em auto 0 auto;
}

.shrink-inputs{
    margin: 0 10px;
}

.shrink-inputs label{
    margin-top: .7em;
}


.fieldset-input{
    height: 30px;
}


.hidden-suggest-more-btn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    margin: 0 auto;
} 

.hidden-fieldset-submit-more-suggestion{
    padding: 5px;
    height: 2.5em;
    margin: 15px 10px;
    outline: #93B4AE;
    background-color: #B7CDC9;
    border: solid 1px;
    border-color: #93B4AE;
    border-radius: 5px;
}

.fieldset-ty-div{
    margin: auto;
}

.fieldset-ty-div p:first-of-type{
    padding-top: 27px;
}


/* Donate Tings */

.donate{
    grid-template-columns: 68% 32%;
    padding: 0;
}

.donate p{
    padding-left: 30%;
}

.donate button{
    height: 2.5em;
    width: 2.5em;
    margin: 0;
}

/* Footer Tings */


.mobile-footer{
    border-radius: 10px;
    display: block;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: #212529;
    color: #93B4AE;
}

.mobile-footer img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
}

.about-the-creator{
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 15px;
}

.about-the-creator-div{
    padding-left: 10px;
    text-align: center;
}

.about-the-creator-div h4{
    font-weight: 200;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #93B4AE;
}

.about-the-creator-div p{
    max-width: 140px;

}

.first-testimonial{
    margin-bottom: 10px;

}

.first-testimonial p:first-of-type{
    margin-bottom: 5px;

}

.first-testimonial p:last-of-type{
    font-weight: 200;
}

.second-testimonial p{
    margin: 0 0 0 auto;

}

.second-testimonial p:first-of-type{
    margin-bottom: 5px;

}

.second-testimonial p:last-of-type{
    font-weight: 200;
}




}


