*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
};

html, body {
    height: 100%;
}

/* Map Tings */

#map{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

#map-container{
    height:700px;
}


/* Body Tings */

body{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: #a4c3b2;
    color: #212529;
    margin: 0 10px;
}

body h1{
    font-weight: 700;
}