*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
};

html, body {
    height: 100%;
}

.hidden-want-to-help{
    display: none;
}

.show-want-to-help{
    display: none;
}

.hidden-want-to-help-buttons{
    display: none;
}

.hidden-suggest-more-btn{
    display: none;
}

                                        /* Site Container Tings */

.site-container{
    width: 100%;
    height: 900px;
    position: relative;
}
                                                 /* Info Tings */

                                                

.info-container{
    display: block;
    background-color: #B7CDC9;
    border-radius: 10px;
    border-style: solid;
    border-color: #93B4AE;
    border-width: 1px;
    padding: 15px;
}


                                         /* Minimize Btn Tings */

.min-btn-img{
    width: 1.5em
}

.max-btn-img{
    width: 2em
}


.min-btn, .max-btn{
    display: block;
    margin: 0 0 0 auto;
    padding: 0;
    background-color: #B7CDC9;
    border: solid 1px;
    border-color: #93B4AE;
    border-radius: 5px;
    transition: ease-in .3s;
}

.min-btn{
    width: 32px;
    height: 32px;
}

.max-btn{
    width: 40px;
    height: 40px;
}

.min-btn:hover, .max-btn:hover{
    background-color: #ABC4C0;
}


                                                 /* Intro Tings */

.intro{
    max-width: 100%;
    margin: 0;
}

.intro h1{
    padding-top: 15px;
}

.intro-p{
    padding-top: 5px;
    display: grid;
    grid-template-columns: 10% 90%;
    margin: auto 0;
}

.intro p{
    margin: auto 0;
}


.intro-p img{
    width: 1.3em;
}

                                                 /* Search Tings */

.search{
    margin: 15px 0;
    height: 2em;
    display: grid;
    max-width: 100%;
    grid-template-columns: 85% 15%;
}

.search input, .search button{
    height: 100%;
    border-style: none;
}

.search input{
    border-color: #93B4AE;
    background-color: #f5f8f7;
    border-radius: 5px 0 0 5px;
    border-width: 1px;
    padding-left: 20px;
} 

.search input:focus{
    outline-color: #93B4AE;
} 

.search button{
    transition: ease-in .3s;
    background-color: #B7CDC9;
    border: solid 1px;
    border-color: #93B4AE;
    border-radius: 0 5px 5px 0;
}

.search button:hover{
    background-color: #ABC4C0;
}

.search button img{
    width: 1.5em;
    margin: auto;
}

                                                 /* Legend Tings */


.legend ul{
    padding: 5px 0;
    list-style: none;
    background-color: #ABC4C0;
    border-radius: 5px;
}

.legend img{
    margin: auto;
    max-height: 2.5em;
}

.legend li{
    margin: 5px 0;
    max-height: 3em;
    display: grid;
    grid-template-columns: 10% 90%;
}

.legend h4{
    margin: auto 0;
}

.legend label{
    display: grid;
    grid-template-columns: 20% 80%;
}

.legend img{
    filter: drop-shadow(3px 0 3px rgb(107, 107, 107));
}

.checkbox{
    width: 1em;
    height: 1em;
    margin: auto 0 auto auto;
}

                                                 /* Fieldset Tings */

fieldset{
    height:227px;
}

.fieldset-input{
    border-radius: 5px;
    margin-top: 5px;
    height: 2em;
    border-style: solid;
    border-color: #93B4AE;
    border-width: 1px;
    width: 100%;
    background-color: #f5f8f7;
    padding-left: 20px;
}

.fieldset-input:focus{
    outline-color: #93B4AE;
} 

.fieldset-input-title{
    margin-top: 15px;
    display: block;
    color: #212529;
}


.fieldset-submit-suggestion, .fieldset-submit-more-suggestion{
    padding: 5px;
    height: 2.5em;
    margin: 15px 0;
    outline: #93B4AE;
    background-color: #B7CDC9;
    border: solid 1px;
    border-color: #93B4AE;
    border-radius: 5px;
    transition: ease-in .3s;
}

.fieldset-submit-suggestion:hover, .fieldset-submit-more-suggestion:hover{
        background-color: #ABC4C0;
}

.help-fieldset p{
    color: #212529;
    text-align: center;
}

.help-fieldset p:first-child{
    padding-top: 52px;
    color: #212529;
}

.suggest-more-btn{
    text-align: center;
    width: 100%;
}


                                             /* Fieldset Tings */

.want-to-help{
    padding-top: 15px;
}

.want-to-help fieldset{
    color: #93B4AE;
    border-radius: 5px;
    border: solid 1px;
}

.want-to-help legend{
    color: #212529;
    padding: 0 5px;
    text-align: center;
}

                                                 /* Donate Tings */
.donate{
    padding-top: 15px;
    display: grid;
    grid-template-columns: 80% 20%;
}

.donate button img{
    width: 1.5em;
}

.donate p{
    margin: auto 0;
}


.donate button{
    transition: ease-in .3s;
    background-color: #B7CDC9;
    border-radius: 5px;
    border: solid 1px #93B4AE;
    width: 32px;
    height: 32px;
    padding: none;
    margin: 0 auto;
}

.donate button:hover{
    background-color: #ABC4C0;
}


                                                 /* Map Tings */

#map{
    height: 100%;
    width: 100%;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: #93B4AE;
    border-radius: 10px;
}

.map-box{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
}


.map-box-overlay{
    opacity: 1;
    z-index: 10;
    width: 20%;
    filter: drop-shadow(3px 0 4px rgb(136, 136, 136));
}

.map-box-min-overlay{
    opacity: 1;
    z-index: 9;
    filter: drop-shadow(3px 0 4px rgb(136, 136, 136));
    display: block;
    background-color: #B7CDC9;
    border-radius: 10px;
    border-style: solid;
    border-color: #93B4AE;
    border-width: 1px;
    padding: 15px;
    width: 75px;
    height: 75px;
}


.leaflet-popup-content-wrapper{
    max-width: 230px;
}

.style-icon{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #212529;
}

.style-icon p:first-child{
    font-size: 1.1em;
    margin-bottom: 5px;
}

.style-icon p:nth-child(2){
    padding-bottom: 5px;
    border-style: none none solid none;
    border-color: #93B4AE;
    border-width: 3px;
    margin: 0;
}



.veg-hours, .grocery-hours, .meats-hours, .fish-hours, .markets-hours{
    height:135px;
    max-width: 150px;
    padding: 12px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto 15px auto;
}

.veg-hours{
    background-color: #bbffc4;
}

.grocery-hours{
    background-color: #ffd8ac
}

.meats-hours{
    background-color: #ffacac
}

.markets-hours{
    background-color: #fff9ac
}

.phone-grid{
    display: grid;
    grid-template-columns: 10% 90%;
}

.phone-grid img{
    width: 17px;
}

.phone-grid div{
    padding-left: 5px;
}


                                                 /* Body Tings */

body{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: #789284;
    color: #212529;
    margin: 15px;
}

body h1{
    font-weight: 700;
}

/* background-color: #a4c3b2; */
/* background-color: #37423D; */
/* background-color: #062726; */
/* background-color: #2F4858; */
/* background-color: #839788; */
/* background-color: #555B6E; */
/* background-color: #789284; */








@media only screen and (max-width: 420px){

.site-container{
     height: 750px;
}

.fieldset-submit-more-suggestion{
    display: none;
}

.fieldset-submit-suggestion{
    display: none;
}

body{
    margin: 5px;
    height: 100%;
}

/* Map Tings  */


.map-box-overlay{
    width: 100%;
    height: 55%;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

.map-box-min-overlay{
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Min Max Btn Tings */

.min-btn{
    width: 3em;
    height: 3em;
    margin: 0 auto 0 0;
}

.min-btn img{
    width: 2.5em;
    height: 2.5em;
    padding-top: 2px;
}

.max-btn{
    width: 3.5em;
    height: 3.5em;
}

.max-btn img{
    width: 3em;
    height: 3em;
    padding-top: 2px;
}


/* Intro Tings */

.intro{
    display: grid;
    grid-template-columns: 25% 75%;
}

.intro h1{
    padding-top: 0;
}

.search{
    display: none;
}

/* Legend Tings */

.legend{
    margin-top: 15px;
}

.legend label{
    display: grid;
    grid-template-columns: 40% 60%;
}


.legend-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 175px;
}

.legend-grid-container li{
    padding-left: 25px;
    height: 70px;
    
}

.legend-grid-1{
    border-style: solid;
    border-color: #93B4AE;
    border-width: 0 1px 0 1px;
}

.legend-grid-2{
    border-style: solid;
    border-color: #93B4AE;
    border-width: 0 1px 0 0;
}

/* Hidden Button Tings */

.want-to-help{
    display: none;
    margin-bottom: 15px;
}

.show-want-to-help{
    display: block;
}

.show-want-to-help button{
    padding: 5px;
    width: 250px;
    height: 3em;
    margin: 15px auto;
    outline: #93B4AE;
    background-color: #B7CDC9;
    border: solid 1px;
    border-color: #93B4AE;
    border-radius: 5px;
    transition: ease-in .3s;
}

.show-want-to-help button:hover{
    background-color: #ABC4C0;
}

.show-want-to-help p{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #212529;
}

.align-btn{
    text-align: center;
}

.nevermind-btn, .hidden-fieldset-submit-suggestion{
padding: 5px;
height: 2.5em;
margin: 15px 0;
outline: #93B4AE;
background-color: #B7CDC9;
border: solid 1px;
border-color: #93B4AE;
border-radius: 5px;
transition: ease-in .3s;
}

/* Hidden Legend Tings */


.help-fieldset{
    height: 250px;
}

.hidden-want-to-help{
    display: none;
    margin-top: 15px;
}

.hidden-fieldset-input-title{
    margin-top: 15px;
    display: block;
    color: #212529;
}

.hidden-want-to-help{
    padding-top: 15px;
}

.hidden-want-to-help fieldset{
    color: #93B4AE;
    border-radius: 5px;
    border: solid 1px;
}

.hidden-want-to-help legend{
    color: #212529;
    padding: 0 5px;
    text-align: center;
}

.hidden-want-to-help-buttons{
    display: grid;
    margin-top: 15px;
    grid-template-columns: 1fr 1fr;
}

.hidden-want-to-help-buttons input{
    margin-left: 15px;
}

.hidden-want-to-help-buttons button{
    margin: auto 15px auto auto;
    width: 130px;
}

.fieldset-submit-suggestion{
    max-width: 130px;
}

.fieldset-input{
    height: 2.2em;
}

.hidden-suggest-more-btn{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hidden-fieldset-submit-more-suggestion{
    padding: 5px;
    height: 2.5em;
    margin: 15px 10px;
    outline: #93B4AE;
    background-color: #B7CDC9;
    border: solid 1px;
    border-color: #93B4AE;
    border-radius: 5px;
}


/* Donate Tings */

.donate{
    padding: 0;
}

.donate p{
    padding-left: 20px;
}

.donate button{
    height: 3em;
    width: 3em;
}




}